
body {
    margin: 0;
    background-color: lightgreen;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}
.grid {
    display: grid;
    margin: 0 auto; /* Centra la griglia nella pagina */
}
.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;

     /* Rimuove gli spazi tra le celle */
     border-top-width :0 ;
     border-left-width :0 ;
     border-bottom-width :1px ;
     border-right-width :1px ;
     border-style :solid ;
}
.selected {
   background-color :lightblue ;
}

/* Aggiunge un bordo alla prima riga e alla prima colonna della griglia */
.cell:nth-child(-n+10) {border-top-width :1px ;}
.cell:nth-child(10n+1) {border-left-width :1px ;}